<div class="display">
  <div class="first-section section">
    <h1>Formula 1:</h1>
    <h3>Select Season:</h3>
    <app-season-select (seasonSelected)="this.seasonSelected = $event"></app-season-select>
    @if (seasonSelected) {
      <br>
      <h3>Select Round:</h3>
      <app-round-select (roundSelected)="this.roundSelected = $event"></app-round-select>
    }
  </div>
  <div class="second-section section">
    @if (roundSelected) {
      <h1>Results: {{ f1Service.raceName }}</h1>
      <app-podium/>
      <app-result-table/>
    }
  </div>
  <div class="third-section section">
    @if (roundSelected) {
      <app-winner/>
    }
  </div>
</div>


